<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">  <!--需要引入此类，才能使用thymeleaf中的th:text标签-->
<head>
    <meta charset="UTF-8">
    <title>test thymeleaf</title>
</head>
<body>
<div style="text-align: center">
    <h2>测试thymeleaf获取后端数据</h2>
    <h3 th:text="${model.name}">代替此处内容</h3>
    <p>日期：<span th:text="${#dates.createNow()}"></span></p>

</div>

</body>
</html>





